/.vs
/src/.vs
/src/Udx/Udx.Server/bin
/src/Udx/Udx.Server/logs
/src/Udx/Udx.Server/obj
/src/Udx/Udx.Client/bin
/src/Udx/Udx.Client/obj
/src/Udx/Udx.ClientServer/bin
/src/Udx/Udx.ClientServer/logs
/src/Udx/Udx.ClientServer/obj
/src/Adimin/Udx.Adimin/bin
/src/Udx/Udx.Adimin/obj
/src/Admin/Udx.Admin/obj
/src/Admin/Udx.Admin/bin
/src/Admin/Udx.Admin.App/obj
/src/Admin/Udx.Admin.App/bin
/src/Admin/Udx.Admin.Components/obj
/src/Admin/Udx.Admin.Components/bin
/src/Admin/Udx.Admin.Shared/obj
/src/Admin/Udx.Admin.Shared/bin
/src/Cms/Udx.Cms/obj
/src/Cms/Udx.Cms/bin
/src/Cms/Udx.Cms.App/obj
/src/Cms/Udx.Cms.App/bin
/src/Cms/Udx.Cms.Shared/bin
/src/Cms/Udx.Cms.Shared/obj
/src/Udx/Udx.Dbs.Shared/obj
/src/Udx/Udx.Dbs.Shared/bin
/src/Udx/Udx.Dbs/obj
/src/Udx/Udx.Dbs/bin
