@namespace Udx.Admin.Components
<footer class="udx-footer">
    <section class="udx-footer-container">
        <section class="udx-footer-columns">
            <div class="udx-footer-column">
                <h2><a href="/"><UdxLogo/></a></h2>                
             </div>
           
             <div class="udx-footer-column"><h2>产品服务</h2>
                 <div class="udx-footer-item"><a href="http://www.udx.cn/pages/udx" target="_blank">开发框架Udx</a></div>
                 <div class="udx-footer-item"><a href="http://www.udx.cn/pages/admin" target="_blank">权限管理Admin</a></div>
                <div class="udx-footer-item"><a href="http://www.udx.cn/pages/cms" target="_blank">内容发布CMS</a></div>
                <div class="udx-footer-item"><a href="http://www.udx.cn/pages/dms" target="_blank">协同办公DMS</a>
                    <span class="udx-footer-item-separator">-</span>
                    <span class="udx-footer-item-description">研发敏捷全流程</span>
                </div>
             </div>
               <div class="udx-footer-column"><h2>关于我们</h2>
                <div class="udx-footer-item"><a href="http://www.udx.cn/pages/about" target="_blank">关于我们</a></div>
                <div class="udx-footer-item"><a href="http://www.udx.cn/pages/contact" target="_blank">联系方式</a></div>
             </div>
              <div class="udx-footer-column"><h2>关注我们</h2>
                <div class="udx-footer-item"><img src='images/qrcode.jpg'/></div>
             </div>
             <div class="udx-footer-column"><h2>友情资源</h2>
               
                <div class="udx-footer-item"><a href="https://docs.microsoft.com/zh-cn/aspnet/core/blazor/" target="_blank">ASP.NET Core Blazor</a></div>
                <div class="udx-footer-item"><a href="https://antblazor.com/" target="_blank">Ant Blazor</a>
                    <span class="udx-footer-item-separator">-</span>
                    <span class="udx-footer-item-description">Ant Design of Blazor</span>
                </div>
                 <div class="udx-footer-item"><a href="https://ant.design" target="_blank">Ant Design</a></div>             
            </div>
             </section>
            </section>
        </footer>

        <style>
footer {
    display: block;
}
selection {
   
}
.udx-footer{
    z-index: 999;
    position: relative;
    clear: both;
    font-size: 14px;
    line-height: 1.5;
    text-align:left;
}
.udx-footer-container {
    max-width: unset;
    padding: 20px;
}
.udx-footer-container {
    width: 100%;
    padding: 20px 0 10px;
    margin: auto;
}
.udx-footer-columns {
    justify-content: space-between;
}
.udx-footer-columns {
    display: flex;
    justify-content: space-around;
}
.udx-footer-column {
    margin-bottom: 10px;
}
.udx-footer-item {
    margin: 12px 0;
}

.udx-footer-item-separator {
    margin: 0 .3em;
}
.udx-footer-item-description{
 color:#ccc;
}
.udx-footer a {
    transition: all .3s;
    text-decoration: none;
    color:#000;
}
.udx-footer-bottom-container {
    max-width: calc(100% - 120px);
}
.udx-footer-bottom-container {
    max-width: calc(100% - 120px);
}
        </style>

@code {

}
