@namespace Udx.Cms.App.Components
<div @ref="_ref" style="height:@(Height)"></div>
<style type="text/css">
    /*修改滚动条样式*/
    .vditor-reset::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        /**/
    }

    .vditor-reset::-webkit-scrollbar-thumb {
        background: #bfbfbf;
        border-radius: 10px;
    }

        .vditor-reset::-webkit-scrollbar-thumb:hover {
            background: #666;
        }
</style>
