@namespace Udx.Cms.App.Pages.Contents
@layout CmsViewLayout
@inherits  UdxComponentBase
@page "/cms/home"
 @attribute [ReuseTabsPage(Title="cms",Ignore=true)]
 <PageTitle>@(AppSetting.UdxSettings.SiteTitle)-文档</PageTitle>
<h3>Home</h3>

@code {

}
